/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Container principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Formulário */
form {
    margin-bottom: 20px;
}

/* Rótulos */
label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

/* Listas suspensas e botão */
select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Botão */
button {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Resultados */
#resultado {
    margin-top: 20px;
}

.result-item {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}

.result-item strong {
    font-size: 18px;
    color: #007BFF;
}

.result-item p {
    margin: 5px 0;
    color: #333;
}

#busca-container, #login-container {
    transition: all 0.3s ease;
  }
  
